In [1]:
print(10)

10

In [1]:
print(10)

10

In [2]:
print(10), print(10)

10
10

(None, None)

In [5]:
print(10)
print(20)

10
20

- Conclusion is never write print statements is horizontal it should be in vertical

- Otherwise do in single print

In [3]:
 # Like this

print(10,20,30)

10 20 30

**format**

In [4]:
a=100
b=200
c=a+b
print("the addition of {} and {} is {}" .format(a,b,c))

the addition of 100 and 200 is 300

In [5]:
name='python'
age=10
city='hyd'
print("my name is {}, im {} years old and im from{}" .format(name,age,city) )

my name is python, im 10 years old and im fromhyd

In [6]:
employename='mahika'
employeerole='developer'
company='accenture'
print("My name is {}, My role is {} and I work in company  {}" .format(employename,employeerole,company))

My name is mahika, My role is developer and I work in company  accenture

In [4]:
num1=100
num2=200
average=(num1+num2)/2
print("The average of {} and {} is: {}" .format(num1,num2,average))
print(f"the average of {num1} and {num2} is: {average}")

The average of 100 and 200 is: 150.0
the average of 100 and 200 is: 150.0

In [2]:
# take the radius of circle
# take pie value=3.1
# find the area of circle=pi*r*r

r=10
pi=3.1
area=pi*r*r
print(f"the area of circle is: {area}")
print("the area of circle is:{}" .format(area))

the area of circle is: 310.0
the area of circle is:310.0

In [6]:
# take the base of triangle
# take the height of triangle
# area of triangle=1/2*base*height

base=4
height=8
area=1/2*base*height
print("The area of triangle is {}" .format(area))
print(f"The area of traingle is {area}")

The area of triangle is 16.0
The area of traingle is 16.0

In [7]:
# take the bill_amount
# take the tip_percentage
# calculate tip_amount
# calculte the total bill
# print the total bill

bill_amount=1000
tip_percentage=10
tip_amount=1000*10/100  # bill_amount*tip_percentage/100
total_bill=bill_amount+tip_amount 
print("The total bill is : {}" .format(total_bill))
print(f"the total bill is : {total_bill}")

The total bill is : 1100.0
the total bill is : 1100.0

In [8]:
print(10)
print(20)

10
20

In [9]:
print(10,20)

10 20

**end**

$end$

- combining multiple print statements in single line

In [13]:
print(10,end=' ')
print(20)

10 20

In [14]:
print(10,end=' ,')
print(20,end=' ,')
print(30)

10 ,20 ,30

$separator$

- Seperate the multiple values in a single print statement

print(10,20,30,sep=' & ')

# 10 & 20 & 30

In [9]:
print(10,20,30,sep=' ,')

10 ,20 ,30

print(10,20,30,sep='--->')

In [17]:
print('the addition of 5 and 3 is 8','.',sep='') # another way of printing a statement other than format and all other method

the addition of 5 and 3 is 8.

In [8]:
print('the addition of 2 and 4 is 6','!',sep='')

the addition of 2 and 4 is 6!